@if (Context.User.Identity.IsAuthenticated == false){
    //NUNCA LLAMAMOS A LOGIN
    //EL TRUCO ESTA EN LLAMAR A UNA VISTA QUE TENGAMOS CON 
    //SEGURIDAD Y AHI APARECERA EL LOGIN
    <li class="nav-link text-info">
        <a class="nav-link"
        asp-controller="Usuarios"
        asp-action="Perfil">
            Log In
        </a>
    </li>
}
else
{
    <li class="nav-link text-danger">
        <a class="nav-link"
           asp-controller="Managed"
           asp-action="Logout">
            Log Out 
            <span style="color:blue">
                @Context.User.Identity.Name
            </span>
        </a>
    </li>
}