<h1>Log In Users</h1>

<form method="post">
    <label>User name</label>
    <input type="text" name="username"
        class="form-control"/>
    <label>Password</label>
    <input type="text" name="password"
        class="form-control"/>
    <button class="btn btn-info">
        Log In
    </button>
</form>

<h2 style="color:red">@ViewData["MENSAJE"]</h2>